@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: 50% 25%;
    background-attachment: fixed;
}

.change-color {
    filter: invert(100%);
  }

/* halaman utama start */
.item {
    @apply bg-white w-56 shadow-xl rounded-sm;
}
.item-nama {
    @apply px-5 pt-5 pb-3 font-bold text-base;
}
.item-gambar {
    @apply h-40 mx-auto;
}
.item-keterangan-1 {
    @apply flex justify-between items-center pt-3 px-5 pb-5;
}
.item-keterangan-1-1 {
    @apply text-sm text-teal-500;
}
.button-yellow {
    @apply bg-button2 text-white px-5 py-2 rounded-xl
}

/* halaman utama end */

.login {
    @apply py-1 
}