@tailwind base;
@tailwind components;
@tailwind utilities;


/* Root Start */
.body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: 50% 25%;
    background-attachment: fixed;
}
  .button-yellow {
    @apply bg-button2 text-white px-5 py-2 rounded-lg;
  }
  .button-red {
    @apply bg-[#E7230D] text-white px-5 py-2 rounded-lg;
  }
  .button-green {
    @apply bg-green-500 text-white px-5 py-2 rounded-lg;
  }
  .button-blue {
    @apply bg-sky-400 text-white px-5 py-1;
  }
  /* Root End */


  
/* Navbar Start */
nav {
    @apply bg-bg2 py-3 lg:py-5 text-white flex items-center fixed w-full justify-between px-3 lg:px-10;
}
.nav-tittle {
    @apply font-extrabold text-lg lg:text-4xl;
}
.nav-sub-tittle {
    @apply text-[9px] lg:text-base pt-2 lg:pt-0;
}
.nav-a {
    filter: invert(100%);
    @apply w-[25px] lg:w-[35px];
}
/* Navbar End */


/* halaman utama start */
.item {
    @apply bg-white w-44 shadow-xl rounded-sm;
}
.item-nama {
    @apply px-5 pt-5 pb-3 font-bold text-base;
}
.item-gambar {
    @apply h-40 mx-auto py-3 lg:py-1;
}
.item-keterangan-1 {
    @apply flex justify-between items-center pt-3 px-5 pb-5;
}
.item-keterangan-1-1 {
    @apply text-sm text-teal-500;
}

/* halaman utama end */

.login {
    @apply py-1 
}